.login {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient( rgba(7, 27, 82, 1) 0%, rgba(0, 128, 128, 1) 100%);
    z-index: 5;
}

.login form{
    align-content: center;
    margin-top: 50px;
    border-left: 2px solid rgb(133, 121, 121);
    width: 80%;
    height: 70vh;
    padding: 30px;
    padding-top: 0;
}

.login .inp{
    margin-top: 20px;
}

.login .p{
    color: rgb(133, 121, 121);
}

.login .inp label{
    font-size: 20px;
    color: rgb(133, 121, 121);
}

.login .inp input{
    padding: 10px;
    background: none;
    border-bottom: 2px solid rgb(133, 121, 121);
    border-top: none ;
    border-left: none ;
    border-right: none ;
    margin-top: 10px;
    color: white;
}

.login button {
    margin-top: 20px;
    padding: 10px 30px;
    border: 2px solid rgb(133, 121, 121);
    background: transparent;
    color: rgb(133, 121, 121);
    border-radius: 5px;
    cursor: pointer;
} 